@model CreditApp.DAL.DTOs.Account.UpdateUser

<div class="row">
    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row gy-3 gy-md-4 overflow-hidden">
            <div class="form-group my-3">
                <label asp-for="Name" class="form-label">Name</label>
                <input type="text" class="form-control" asp-for="Name" required>
            </div>
            <div class="form-group my-3">
                <label asp-for="Surname" class="form-label">Surname</label>
                <input type="text" class="form-control" asp-for="Surname" required>
            </div>
            <div class="form-group my-3">
                <label asp-for="Username" class="form-label">Username</label>
                <input type="text" class="form-control" asp-for="Username" required>
            </div>
            <div class="form-group my-3">
                <label asp-for="Email" class="form-label">Email</label>
                <input type="email" class="form-control" asp-for="Email" required>
            </div>
            <div class="form-group my-3">
                <label asp-for="CurrentPassword" class="form-label">CurrentPassword</label>
                <input type="password" class="form-control" asp-for="CurrentPassword">
            </div>
            <div class="form-group my-3">
                <label asp-for="Password" class="form-label">Password</label>
                <input type="password" class="form-control" asp-for="Password">
            </div>
            <div class="form-group my-3">
                <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" asp-for="ConfirmPassword">
            </div>
            <div class="form-group my-3">
                <div class="d-grid">
                    <button class="btn btn-lg btn-primary" type="submit">Update</button>
                </div>
            </div>
        </div>
    </form>
</div>