@model CreditApp.DAL.DTOs.Account.ResetPassword
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Reset Password</h1>
                <nav class="d-flex align-items-center">
                    <a asp-action="index" asp-controller="home">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">Reset Password</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!--================Login Box Area =================-->
<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" src="~/img/login.jpg" alt="">
                    <div class="hover">
                        <h4>New to our website?</h4>
                        <p>There are advances being made in science and technology everyday, and a good example of this is the</p>
                        <a class="primary-btn" asp-action="register" asp-controller="account">Create an Account</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3>Reset to enter</h3>
                    <form class="row login_form" method="post" id="contactForm" novalidate="novalidate">
                        <div class="text text-danger small" style="color:red;" asp-validation-summary="ModelOnly"></div>
                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control" asp-for="Password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
                            <span asp-validation-for="Password" class="text text-danger small"></span>
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control" asp-for="ConfirmPassword" placeholder="Confirm Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Confirm Password'">
                            <span asp-validation-for="ConfirmPassword" class="text text-danger small"></span>
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="primary-btn">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->